import matplotlib.cm as cm
import matplotlib.colors as mcolors
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import streamlit as st
import numpy as np
import altair as alt
from streamlit_extras.let_it_rain import rain